%h2
  Features overlapping #{refseq.primaryIdentifier}:#{segment[:start]}..#{segment[:end]}

- s = segment[:start].to_i
- e = segment[:end].to_i
- seg_length = e - s
- name = refseq.primaryIdentifier

%ul.pager
  - if s - seg_length > 1
    %li.previous
      %a{:href => "/#{ name }/features?start=#{ s - seg_length }&end=#{ e - seg_length }"}
        previous
  %li.next
    %a{:href => "/#{ name }/features?start=#{ s + seg_length }&end=#{ e + seg_length }"}
      next

%ul.features
  - features.each do |feature|
    %li.feature
      .feature-type= feature.type
      .name= feature.name
      .unique-id= feature.uniqueID
      .location
        #{ refseq.primaryIdentifier }:#{ feature.end }..#{ feature.end }
        = feature.strand

      - if feature.subfeatures.size > 0
        %h3 subfeatures
        %ul
        - feature.subfeatures.each do |subfeature|
          %li.subfeature
            .feature-type= subfeature.type
            .start= subfeature.start
            .end= subfeature.end
            .strand= subfeature.strand
