- chrom = refseq.primaryIdentifier
- s = params[:start].to_i
- e = params[:end].to_i
- len = e - s
- base_url = "/services/#{ params[:name] }/#{ chrom }/features"

%h2
  Features overlapping
  %a{:href => url("/services/#{ params[:name] }/#{ params[:refseq] }?start=#{ params[:start] }&end=#{ params[:end] }")}
    #{ chrom_label(refseq) }

%ul.pager
  - if s - len > 1
    %li.previous
      %a{:href => url("#{ base_url }?start=#{ s - len }&end=#{ e - len }")}
        previous
  %li.next
    %a{:href => url("#{ base_url }?start=#{ s + len }&end=#{ e + len }")}
      next

%ul.features
  - features.each do |feature|
    %li.feature
      .feature-type= feature.type
      .name= feature.name
      .unique-id= feature.uniqueID
      .location
        #{ chrom }:#{ feature.end }..#{ feature.end }
        = feature.strand

      - if feature.subfeatures.size > 0
        %h3 subfeatures
        %ul
        - feature.subfeatures.each do |subfeature|
          %li.subfeature
            .feature-type= subfeature.type
            .start= subfeature.start
            .end= subfeature.end
            .strand= subfeature.strand
