%a.btn{:href => url("/jbrowse/#{params[:name]}/index.html?#{ settings.services[params[:name]]["example_region"] || '' }")} View in JBrowse

%h2 Global Stats
%table.table.table-bordered.table-striped
  %thead
    %tr
      %th Name
      %th Value
  %tbody
    - global_stats.each do |name, value|
      %tr
        %td= name
        %td= value

- max_seq_len = ref_seqs.map(&:length).compact.max
- chroms = ref_seqs.sort { |a, b| (b.length || 0) <=> (a.length || 0)}

%h2 Reference Sequences

%ul#ref-seqs
  - chrom_url = lambda {|chrom| url("/services/#{ params[:name] }/#{ chrom.primaryIdentifier }")}
  - chroms.each do |chrom|
    - w = chrom.length ? (chrom.length.to_f / max_seq_len.to_f * 100) : 0.1
    %li.ref-seq{:style => "width: #{ w }%"}
      %a{:href => chrom_url.call(chrom)}= chrom.primaryIdentifier
