%h2 #{refseq.primaryIdentifier}:#{segment[:start]}..#{segment[:end]} stats
%table.table.table-bordered.table-striped
  - stats.select{ |k, v| v }.each do |name, value|
    %tr
      %td= name
      %td= value

%a.btn{:href => "/#{ refseq.primaryIdentifier }/features?start=#{ short_seg[:start] }&end=#{ short_seg[:end]}"} features

%a.btn{:href => "/#{ refseq.primaryIdentifier }/residues?start=#{ short_seg[:start] }&end=#{ short_seg[:end]}"} sequence
