%h2
  Sequence for
  %a{:href => url("/services/#{ params[:name] }/#{ params[:refseq] }?start=#{ params[:start] }&end=#{ params[:end] }")}
    #{ chrom_label(adaptor(params[:name]).feature(params[:refseq], "Chromosome")) }

#sequence
  %ol.basepairs
    - sequence.each_char do |base|
      %li{:class => "base #{ base.downcase }"}= base
    .clear-fix

- s = params[:start].to_i
- e = params[:end].to_i
- len = e - s
- base_url = "/services/#{ params[:name] }/#{ params[:refseq] }/residues"

%ul.pager
  - if s - len > 1
    %li.previous
      %a{:href => url("#{ base_url }?start=#{ s - len }&end=#{ e - len }")}
        previous
  %li.next
    %a{:href => url("#{ base_url }?start=#{ s + len }&end=#{ e + len }")}
      next
