%h2 Service Listing

%table.table
  %thead
    %tr
      %th Label
      %th Root
      %th Organism
      %th JBrowse
  %tbody
    - settings.services.each do |label, service|
      - organisms(label).each do |organism|
        %tr
          %td
            %a{:href => url("/services/#{ label }/#{ organism.taxonId }")}= label
          %td= service["root"]
          %td= organism.shortName
          %td
            %a{:href => url("/jbrowse/#{ label }/#{ organism.taxonId }")} JBrowse
